body {
    background-color: rgb(221, 250, 215);
}

h1 {
    color: rgb(174, 202, 224);
}

div{
    background-color: rgb(240, 255, 255);
    width: 500px;
}


.divRojo{
    background-color: rgb(166, 238, 214);
}
#divUnico {
    background-color: rgb(130, 130, 174);
}

#dibujo{
width: 45vw;
height: 45vw;
background-color: rgb(199, 232, 233);
display: flex;
justify-content: center;
align-items: center;
}

#cara {
    width: 60%;
    height: 70%;
    background-color: rgba(167, 233, 214, 0.758);
    border-radius: 50%; 
    position: relative;
    transition: all 4s ease-in
}
#cara:hover{
    transform: rotate(360deg) scale(0.5);
}
.ojos {
    width: 120px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.907);
    border-radius: 50%;
    position: absolute; 
    
}
#ojoIzq {
    top: 20%;
    left: 20%;
}

#ojoDer {
    top: 20%;
    right: 20%;
}

.sonrisa {
    width: 25%;
    height: 15%;
    background-color: rgba(10, 10, 10, 0.912);
    border-radius: 0 0 80px 80px ;
    position: relative;
    top: 70%;
    left: 35%;
    
}

#sonrisa:hover{
background-color:blue; 
height: 18%;

}
.sonrisa:hover{
    transform: rotate(360deg) scale(0.5);
    }
.nariz {
    width: 13%; 
    height: 12%;
    background-color: rgb(0, 0, 0);
    border-radius: 75px 50px;
    position: relative;
    top: 33%; 
    left: 42%;
}
.nariz:hover {
    background-color: rgb(220, 237, 237);
}

.mejillas {
    width: 20%;
   height: 25%;
   background-color: rgba(240, 187, 223, 0.781);
   border-radius: 80%; 
   position: absolute;
   animation-name: cambioColor;
   animation-duration: 5s;
   animation-iteration-count: infinite;
}
@keyframes cambioColor {
    0% {background-color: blue;}
    25% {background-color: azure;}
    50% {background-color: brown;}
    100% {background-color: black;}
}

#mejillaDer{
    top: 45%;
    right: 10%;
}

#mejillaIzq{
    top: 45%;
    left: 10%;
}

#cara:hover{
    transform: rotate(360deg) scale(0.5);
}



@keyframes cambioColor{
    0% {background-color: rgb(127, 255, 212);}
    25% {background-color: rgb(138, 43, 226);}
    50% {background-color: rgb(0, 255, 255);}
    100% {background-color: rgb(227, 173, 90);}
}


